[2017-10-26 15:28] cfangmeier opened #1 "Adding songs to empty playlist goes to bad state"
When adding a song so an exhausted playlist(meaning there were songs, but they have all been played through) causes the mpv player to enter some strange state. This is fixed by pausing and playing (ie. ctrl-p twice), but should be fixed.

[2017-12-29 19:14] #1 closed

[2018-01-05 17:01] cfangmeier opened #2 "Expanding on a song gives wrong album"
Expanding on a song in the search panel will put the *song* in the album slot instead of the album.

[2018-01-05 17:02] cfangmeier opened #3 "Crashes if expand yields no albums"

[2018-01-05 17:03] #3 closed

[2018-01-05 17:03] #2 closed

[2018-01-06 19:14] cfangmeier opened #4 "Add volume indicator"

[2018-01-07 20:37] #4 closed

[2018-02-14 04:26] opcon opened #7 "Check if config directory exists"
Hi, I just installed tuijam for the first time, and it crashed with the following traceback:

[code]

I created the ~/.config/tuijam directory which fixed the problem.

[2018-02-14 18:07] cfangmeier commented on #7
Thanks for reporting this. It should be fixed now.

[2018-02-14 18:07] #7 closed

[2018-02-20 04:37] Moovlin opened #8 "Resizing tuijam causes a crash."
I use i3 as a window manager and also use tuijam as a floating window. I was resizing the window to a very small size when suddenly the player crashed. I repeated this over and over again about 3 times. I've included the log. It appears to be an issue with the rendering of the actual screen.

Traceback (most recent call last):
  File "/home/sinn3r/tuijam/tuijam", line 869, in main
    loop.run()

[2018-02-20 15:23] cfangmeier commented on #8
Thanks for reporting this!
My own setup (Gnome/termite/tmux) is a bit different than yours, but I was unable to reproduce this error locally. What terminal emulator are you using? And does other unicode work in your terminal (for example the play/stop icon in the status bar)?

I'm guessing that this is actually a problem with [urwid](https://github.com/urwid/urwid), but I was using quite an old ve

[2018-02-20 15:31] Moovlin commented on #8
I'm using gnome terminal. So it supports Unicode and tuijam was working fine as long as the window didn't reach an extremely small size. I didn't do any extreme testing but that seems to have fixed the issue. Thanks for the quick fix!

[2018-02-20 15:31] #8 closed

[2018-02-21 22:47] Moovlin opened #9 "Feature Request: Now playing support"
I'd like to have a "Now Playing" feature similar to that of gpymusic where it just writes to a file such that I can use it with i3 bar. Rather than just making a request I would be interested in implementing it as well. I'm a pretty experienced python programmer but I'm clearly new to the code base so some direction in where would most make sense to add such a feature would be awesome.

Since I'm

[2018-02-22 00:06] cfangmeier commented on #9
I think this sounds like a great feature!

What you suggest sounds reasonable, although `repr` may not deliver the song in the best format. That really just comes down to taste though.

If you would like to include status information (ie playing/paused, progress, etc), the place to do that would be `refresh` https://github.com/cfangmeier/tuijam/blob/master/tuijam#L640. This function gets called ev

[2018-02-22 00:30] Moovlin commented on #9
The config idea sounds like a great idea to me. It may not be a huge deal in terms of performance but do you have any ideas other than putting an if statement in that checks for truth of a boolean each update? This would most definitely be the easiest to implement but easy doesn't mean it's a great solution. My only other thought on a different solution would be to override the existing `refresh`

[2018-02-22 01:05] cfangmeier commented on #9
I think checking on each update is totally fine(premature optimization and all that :) ), Personally, I would save the filename in the App when reading the config and set it to `None` if it's not in the config file. Then in update, just do something like

[code]

[2018-02-22 01:30] cfangmeier commented on #9
One other point: It would be good if the first-time setup gave the user an opportunity to enter the path(maybe with a reasonable default, although I couldn't say what that would be). Or at least advertise that they can edit the config file after the fact to enable this feature.

[2018-02-27 16:59] cfangmeier commented on #9
@Moovlin are you still interested in implementing this? If not I can take a whack at it myself sometime over the next couple days.

[2018-02-27 18:01] Moovlin commented on #9
@cfangmeier I was planning to try and work on it this weekend actually. I was swamped with school work and club stuff this past weekend. You're welcome to work on it but I'm definitely still interested in getting my hands dirty with it.

[2018-04-27 15:23] cfangmeier opened #10 "Crash during refresh"
Since the end-of-song callback performs asynchronously with the now-playing-update one, what seems to sometimes happen is that the now-playing callback starts executing and sees that there is a current song. Then, it gets interrupted by the end-of-song callback which sets the current song to None if there are no more songs left in the queue. The now-playing callback resumes, but now the current so

[2018-04-27 15:25] cfangmeier opened #11 "Crash following disconnect"
During long sessions that may involve temporary disconnections from the internet, the api connection can become invalid which will lead to exceptions upon further api calls. Should be a relatively easy fix to just catch the exception and re-establish a new api connection.

[2018-07-28 06:02] rosshadden opened #12 "MPRIS integration"
Do you have any plans to make tuijam work with the MPRIS D-Bus spec, which would let us use [playerctl](https://github.com/acrisci/playerctl) and similar programs?

Not only would this let users control playback externally, but it would allow for showing track, artist, state, etc. externally as well (such as in polybar or i3bar).

[2018-07-29 18:18] cfangmeier commented on #12
I didn't have plans for this (nor did I know anything about MPRIS), but it sounds like a very useful feature!

I found a python wrapper for D-Bus, `pydbus`, which should reduce the problem to just rigging up the appropriate D-Bus paths to call a few functions in TUIJam.

I have a bit of time today so I'll give it a shot and see if I can get it working with playerctl and push what I have into a dev

[2018-07-29 19:48] rosshadden commented on #12
Yeah of course. Thank you.

[2018-07-30 03:15] cfangmeier commented on #12
Alright, I believe I've got it working. Checkout the `mpris` branch to try it out. On my machine, I am able to query the status, set play/pause, and get some metadata for the current song using `playerctl`. For example,

[code]

Let me know what does/doesn't work for you and if there are any missing features you would like to see.

[2018-07-30 04:55] rosshadden commented on #12
It works!

I did found a couple weird things:

1. Switching to the next track works, but previous doesn't
2. Pausing works, but playing afterward doesn't (not sure if that's in your control, and it also doesn't matter to me since play-pause works great)
3. Same thing with stopping. It works, but playing afterward doesn't start the song over. It errors instead.

But everything you mentioned is work

[2018-07-30 05:00] rosshadden commented on #12
Thank you so much for working on this, by the way. I have tried many Google Music CLI clients. My favorite workflow was mopidy+gmusicproxy+ncmpcpp, but it stopped working after a year of using it, and despite many hours and days of troubleshooting (often while bored at work) I never figured it out. This project is definitely far better than any others I have tried (with the exception of the aforem

[2018-07-30 17:23] cfangmeier commented on #12
merged!

[2018-07-30 17:23] #12 closed

[2018-07-30 18:03] cfangmeier commented on #9
Support for this has recently been added via the MPRIS feature. I'm going to mark this as closed, but feel free to re-open if your use-case is not solved.

[2018-07-30 18:03] #9 closed

[2018-08-07 02:14] rosshadden opened #14 "Scrolling with scroll wheel is backward"
I noticed you added mouse scrolling in the git logs. Very cool!
For me it's reversed though. When you scroll up it moves the cursor down, and vice versa.

[2018-08-07 02:28] cfangmeier commented on #14
Ever since Apple (Any maybe people earlier?) decided to do the "natural" scrolling thing, I've been screwed up on scrolling direction. I'll add a config option so users can reverse it if the other way feels more natural.

[2018-08-07 03:02] cfangmeier commented on #14
Alright. As of 8b0a77b, you can reverse the scrolling direction by setting

[code]

In the config file.

[2018-08-07 03:02] #14 closed

[2019-02-12 05:07] t1meshift opened #17 "Crash after any search query"
I've installed tuijam from AUR.
Authentication works but if I try to find any song, it crashes with a log just like that:
[code]
[log.txt](https://github.com/cfangmeier/tuijam/files/2854186/log.txt)

[2019-02-12 15:59] cfangmeier commented on #17
Thanks for reporting this. It looks like you don't have the google API python client installed. The AUR package (which I don't actually maintain) should include this as a dependency. In the mean time try installing `python-google-api-python-client` and see if it works for you.

[2019-02-16 23:27] cfangmeier commented on #17
I posted a comment for the AUR package so hopefully it gets updated soon. Did installing that package work for you?

[2019-02-17 22:43] klardotsh commented on #17
Somehow I missed the AUR email (or it got buried, or never showed up, or whatever), but I caught up with GitHub notifications and saw the thread here.

I've pushed an update to the [new 0.3.4 release](https://github.com/cfangmeier/tuijam/commit/4baed0da39c2db2ebb1e1d1ff1ca3e608c9aa05d) and added the new dependency. Holler in the AUR (or tag/email/whatever me here on GitHub) if things are still won

[2019-02-17 22:45] klardotsh commented on #17
Also @cfangmeier if you'd prefer to maintain the AUR package yourself, let me know and I'll happily turn it over. Back when I started using this there was no package so I became the de-facto maintainer there I guess and didn't realize anyone else was actually using the `PKGBUILD` until recently!

Either way's fine by me. I've turned on notifications for this repo in GitHub so I _should_ see update

[2019-02-18 04:43] cfangmeier commented on #17
@klardotsh Thanks for setting up the AUR package! I'll add a note to the readme that points to it. The current maintenance situation works for me. I expect that in the future there won't be a high frequency of releases anyway since TUIJam is, to me at least, feature complete.

In any case, I guess this issue is resolved so I'll close it here.

[2019-02-18 04:43] #17 closed

[2019-02-19 13:21] t1meshift opened #18 "Crash on rapid adding tracks in queue"
Because Ctrl+q key combination doesn't work, I started pressing 'q' and then 'arrow down' repeatedly. And I got a crash.
[code]

[2019-02-19 18:37] cfangmeier commented on #18
Thanks for reporting this! I think there are two separate issues here:

  1. `ctrl q` not working. I'm guessing that this key combination is being caught by your terminal emulator. If you tell me what OS/terminal you are using, I can try to find a workaround. Alternatively, you can go in and edit [this line](https://github.com/cfangmeier/tuijam/blob/master/tuijam#L886) to an alternative key combin

[2019-02-20 10:06] t1meshift commented on #18
Well, I haven't seen any track rating system but like/dislike since my day one on Google Play Music, but OK.
What about my terminal, I use `gnome-terminal`. Ctrl+q key combination just does nothing. I'll try other combinations described in readme.

[2019-02-20 10:08] t1meshift commented on #18
I've tried to install tuijam from git and it failed:
[code]

[2019-02-20 10:19] t1meshift commented on #18
Also, it would be great if previous tracks from queue were saved somewhere because there is no way to go to them right now.

[2019-02-20 10:49] t1meshift opened #20 "Play/Pause breaks after pausing the last song in a queue at its end"
I was going to catch and try to fix issue #10. I paused "Dead" track at its very end (it was the last track in a queue). Pause didn't work, it just finished playing and put the player in weird state. I can add tracks to a queue but I can't play any of them.
![default](https://user-images.githubusercontent.com/7311956/53086227-6fbfb000-3550-11e9-8022-c7f3cb7bc767.png)

[2019-02-21 21:46] cfangmeier commented on #18
I just tried running TUIJam in Gnome terminal and the ctrl-q combination works fine for me. Maybe your shell(bash/zsh/etc) is actually trapping it somehow?

It looks like PyGObject is failing to be installed. I think that what is happening is that GObject's packages need to be installed already by the package manager.  Looking at the AUR package, The `gobject-introspection` package (which seems to

[2019-02-21 21:49] cfangmeier commented on #20
I'm not surprised that something like this could happen given what I described in #10 . I briefly tried to reproduce this bug, but my fingers aren't quick enough :). Please share if you find a way to reliably invoke the bug, or even better, a fix for it.

[2019-02-22 04:47] t1meshift commented on #18
I use zsh with oh-my-zsh extension but should the shell override current app's key shortcuts?

I mean that I can't go to previous tracks with key combinations. I can view previously played tracks with `ctrl r` but I need to add them to my queue manually. I think that's not so convenient.
Maybe I should open a new issue with this feature request.

[2019-02-25 21:36] cfangmeier commented on #10
9003eae changes the mpv end-of-song callback to set a flag and schedule a refresh instead of editing state directly. This should fix this problem.

[2019-02-25 21:42] cfangmeier commented on #20
@t1meshift Can you check out 9003eae and see if that fixes this issue for you?

[2019-02-28 05:08] t1meshift commented on #20
Well, at least I can't reproduce it for now. Also I have a tiny pull request which fixes 2 bugs, could you take a look at it? :octocat:

[2019-03-11 22:30] cfangmeier commented on #18
Thanks for handling the PyGObject issue. I'll have a look at the PR. Also, if you would like to implement the previous track feature, please feel free to submit a PR. I didn't implement it originally just because it's not a feature I feel I would personally use very often.

In any case, I think this issue is resolved.

[2019-03-11 22:30] #18 closed

[2019-03-11 22:31] #20 closed

[2019-03-11 22:41] cfangmeier opened #21 "Previous Songs view is cutoff"
The Previous Songs list doesn't show the complete history. This is likely due to the default behavior of limiting the number of songs shown in a search to a preset maximum.

[2019-03-12 17:16] #21 closed

[2019-04-03 14:35] t1meshift opened #22 "Add a link to the AUR package"
As the package mentioned in readme file is not maintained regularly, I have decided to submit my own which installs the most fresh version of tuijam straight from this repo. Could you just add it in readme as an alternative to outdated package?

Here it is:
https://aur.archlinux.org/packages/tuijam-git/

[2019-04-03 18:24] cfangmeier commented on #22
Thanks!. The git package installs and runs fine on my machine so I'll update the readme accordingly.

[2019-04-03 18:24] #22 closed

[2019-04-05 02:49] t1meshift opened #23 "Can't see uploaded tracks"
I have uploaded tracks in my music library and liked the most of them, hence they should be shown in the 'Liked' playlist. However, tuijam does not even display them and they are not counted in playlists.

[2019-04-05 22:30] cfangmeier commented on #23
If I remember right, this is by design because non-store tracks are handled differently by the google play API, and at the time I didn't want to deal with the extra complexity of handling both store and non-store tracks. That said, I'm not opposed to the feature being added, but it's unlikely I'll be able to add it anytime soon.

[2019-04-16 00:06] #10 closed

[2019-04-24 22:08] guitmz opened #24 "Unsafe load() call disabled by Gentoo. See bug #659348"
I have installed tuijam just now in my Gentoo system and upon the first run I got the error message. Full error:

[code]

Relevant Gentoo bug report https://bugs.gentoo.org/659348

It looks trivial to fix this issue (but I haven't really tried yet). Replacing `yaml.load()` calls with `yaml.safe_load()` should do it. Let me know your thoughts on this one.

Thanks

[2019-04-25 13:06] guitmz commented on #24
I also recommend replacing `yaml.dump()` with `yaml.safe_dump()`

[2019-04-26 17:58] #24 closed

[2019-04-27 22:29] cfangmeier opened #25 "Windows Support"
It would be nice if there was a nice way to install TUIJam on Windows. Naively I tried doing just a

[code]
But the dependent version of `scrypt` failed to compile. I changed to the latest version and that worked. Next, there is a problem with `PyGObject` which requires, from what I can tell, the GTK+ runtime to be installed for it to work properly. According to [the docs](https://pygobject.readth

[2019-05-01 06:30] t1meshift commented on #25
AFAIK Windows 10 has native Media Playback API, but I haven't seen any Python bindings for it.
For example, there is a native module for NodeJS for that purpose: https://github.com/NodeRT/NodeRT. GPMDP uses it, seems like it's not that complicated: https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/blob/master/src/renderer/windows/GPMWebView/playback/systemMediaService

[2019-05-01 06:50] t1meshift opened #26 "Crash after moving to safe yaml"
I have 100 tracks in my playback history. After update, every time I try to play my queue, the player crashes, writing this log:
[code]
I'm already writing a workaround for history migration.

[2019-05-01 17:13] #26 closed

[2019-05-02 13:17] t1meshift opened #28 "Add Last.fm scrobbling"
Actually, I could implement it by myself, but it's required to create an API account on Last.fm for this purpose. Since the project is yours, I've decided to write this feature request.

[2019-05-02 18:57] klardotsh commented on #22
I've been on the road for the past ~two months almost constantly - sorry for not seeing this sooner.

I've orphaned the main package `tuijam` and it's up for grabs by whomever would like it: https://aur.archlinux.org/packages/tuijam/

[2019-05-02 19:57] cfangmeier commented on #22
Thanks @klardotsh for putting together the package. I think it makes sense for me to adopt the package so I can update it whenever a new version gets released. I'll see if I can figure out how to adopt a package...

[2019-05-04 10:31] RogueScholar opened #29 "Unable to authenticate with Google"
I was excited to try this module out as tizonia has been a bit flaky for me of late, not to mention your design offers a much richer interface. Much to my chagrin though, I've never been able to get it to work. Attempting to login with no pre-existing config file leads to the error relating to using my ethernet's MAC address, which led me around in circles. So I thought I'd work around the issue b

[2019-05-04 15:53] cfangmeier commented on #29
Hi @RogueScholar. The error is coming up because TUIJam is expecting a boolean field called `encrypted` in the config file. This gets written automatically during normal first time setup, but I guess since you had issues with the setup and had to write your own it's missing. In any case, I just pushed a change to make it optional so try checking out the new code and see if it works for you.

On yo

[2019-05-04 16:05] cfangmeier commented on #28
I just made an API account for TUIJam. Here are the credentials. Let me know if you need anything else to implement this feature.

![image](https://user-images.githubusercontent.com/2569566/57181662-55615700-6e5c-11e9-819f-5eebbc609873.png)

[2019-05-05 10:56] t1meshift commented on #29
My friend had the same issue, I'll contact him to try to reproduce this bug too.

[2019-05-10 08:34] t1meshift commented on #29
Well, @AriosJentu couldn't authenticate with Google without 2FA. Enabling it on the account has fixed the problem.
Basically, these lines
[code]
were returning None without 2FA. Still don't know why.

[2019-05-10 19:37] cfangmeier commented on #29
I think this might be related to simon-weber/gmusicapi#590. The [end of the thread](https://github.com/simon-weber/gmusicapi/issues/590#issuecomment-490458415) has an alleged solution.

[2019-05-11 03:19] t1meshift opened #33 "Crash after a try to like any YouTube video"
Here are the logs:
[code]

I guess it's better to disable like/dislike keys for `YTVideo`s.

[2019-05-11 03:37] t1meshift commented on #25
Also, have found out that python-mpv works with Windows not so smoothly as it does on Unix-like systems, we need to put a workaround on installation process: https://github.com/jaseg/python-mpv/issues/60#issuecomment-352719773

[2019-05-11 15:08] t1meshift opened #34 "Crash on HTTP 403 while trying to play a song"
Google loves removing tracks from GPM regularly. When you try to play removed track that was in a queue, the API returns HTTP 403.

I think that the crash is a bit too hardcore way to notify a user that the track is not available now :)

[2019-05-13 16:34] #28 closed

[2019-05-13 16:41] #33 closed

[2019-05-13 16:53] cfangmeier commented on #34
Can you post a stack trace of the error you saw so I can see where the error comes from, what the exception is, etc?

[2019-05-14 04:27] t1meshift opened #35 "History and queue from old versions are not read after 0.4.0 update"
The problem is in the serializer.
A queue and a history from the new version start with `\80]q\00ctuijam.tuijam`, while old versions' ones start with `\80]q\00(c__main__`.

I have a temporary solution: run `sed -i 's/__main__/tuijam.tuijam/' ~/.config/tuijam/*.p` before running the new version. If it is already running, kill the player **without Ctrl-C shortcut** (`kill -9 $(pgrep tuijam)`, for

[2019-05-14 08:21] AriosJentu opened #36 "Cant satisfy dependencies on Manjaro Linux"
There are old version of python packages in requirements.
[code]

[2019-05-14 08:34] AriosJentu commented on #36
After I've done a manual installation, tuijam still doesn't run user interface. After restoring the queue, it just closes.

[2019-05-14 11:51] t1meshift commented on #34
I'm unable to reproduce the crash right now, but I remember that API had returned HTML code with content like `403 Forbidden` or something like that.

[2019-05-14 15:26] cfangmeier commented on #36
ok, looks like you have a newer version of `google-api-python-client` than is specified in the project requirements. I expect the fix would be to to change

[code]
to
[code]
in `requirements.txt`.

If you can confirm whether or not this fixes the change, I can push the fix.

[2019-05-14 15:41] cfangmeier commented on #35
I think rather than cluttering up the code with some method to detect a pre `0.4.0` set of files and convert them, it's better to just document this in the README and point people to your workaround. What do you think?

[2019-05-14 16:03] t1meshift commented on #35
Sure, why not?
Also, about code decluttering... How about splitting the code on modules since its structure is ready for that?

[2019-05-14 16:56] cfangmeier commented on #35
Yeah, the code has grown quite a lot since the hacky little script I had originally. I agree moving things into separate modules is the way to go. I'll find some time to work on that over the next few days.

[2019-05-14 22:44] cfangmeier commented on #35
Ok, so there is a refactoring-in-progress in the `modularize` branch, and I decided to just ditch `pickle` and instead save the items as JSON. This, of course, would imply the need for a second migration to go from `0.4.0` format to JSON.

I think the simplest solution is to put a disclaimer in the readme that the queue and history format is in flux and not to depend on it being consistent between

[2019-05-14 22:48] #35 closed

[2019-05-15 13:24] Walkman100 commented on #29
I see you have referenced my comment, however my solution is to do with getting a correct android_id to use - it doesn't solve authenticating with 2FA, and while I don't use 2FA, you should be able to use an app-specific password in place of your password without any other modifications.

[2019-05-20 17:55] cfangmeier commented on #34
Should be fixed, provided that the 403 is happening during the `get_stream_url` call.

5fdcf5a1af64cd87c5ad75c5df202716efc8e008

Note that there is a typo in the commit message, it should say "Fixes #34".

[2019-05-20 17:55] #34 closed

[2019-05-22 20:45] cfangmeier opened #37 "Better Protection of API keys"
Currently, the LastFM and Youtube API keys are stored in the code in plain text. This makes them pretty vulnerable to being yanked out, resulting in other parties impersonating the TUIJam app. This also means that if I ever have to revoke either of the keys, everyone's current installation will stop working.

This is a bit of a tricky problem because the client actually needs to have the API keys

[2019-05-23 00:16] cfangmeier commented on #37
74eff44 introduces an implementation of this. Still to be done is to preempt the remote fetch if keys are in the config file, and to (after a reasonable amount of time) revoke the "leaked" keys that are in the repo history.

[2019-05-23 11:09] t1meshift commented on #37
That's great! Have you revoked the previous keys since they can be still found in git history?

[2019-05-23 15:33] cfangmeier commented on #37
Not yet, I want to finish the feature and have it pushed out for a couple weeks to give people time to upgrade before I revoke the old keys.

`requests` is used to fetch the keys. I used flask in my example server because it was easy for me to deploy on my server (already have a couple flask apps). A different server wouldn't have to use flask, it just needs to recieve a POST with some json and re

[2019-05-23 16:50] cfangmeier commented on #37
Version `0.5.0` finishes the implementation of this feature.

[2019-05-23 16:50] #37 closed

[2019-05-30 19:54] samesdat commented on #36
I have similar issues on Manjaro (installed from AUR):
[code]
There is only a packet named python-pyyaml-18.11.0 which is installed.
Where is "requirements.txt" located? What should I change?

[2019-05-30 23:22] cfangmeier commented on #36
Hi @samesdat. Are you certain that the package you have installed is called `python-pyyaml` and not `python-pyaml`? I don't see the former in either the official repos or the AUR.

In any case, this led me down an interesting rabbit hole where I discovered that the yaml package listed in the TUIJam AUR package is the wrong one. It was `python-pyaml`, but it should be `python-yaml` which is actuall

[2019-06-02 19:36] samesdat commented on #36
Thank you for clarificatione, it is indeed `python-pyaml` (confusing) ...
I tried the new build `r122.c1e3f33-1` from AUR. After some seconds after starting `tuijam` I got this:

starting up.
Traceback (most recent call last):
  File "/usr/bin/tuijam", line 11, in <module>
    load_entry_point('tuijam==0.5.2', 'console_scripts', 'tuijam')()
  File "/usr/lib/python3.7/site-packages/tuijam/app.py",

[2019-06-03 19:04] cfangmeier commented on #36
This is a bug from when I removed the API keys from the source code. After I did that I never tested the first time setup sequence, and hence a crash.

I've now fixed the bug and pushed it out in 0.5.3. Let me know if you still run into any issues.

[2019-06-03 19:04] #36 closed

[2019-06-03 19:25] samesdat commented on #36
It works. I removed `r123.c53583c-1`and installed `0.5.3-1`. Thank you.

[2019-06-05 23:02] RogueScholar commented on #29
Sorry for the extended absence, I should've gotten back to you before now to report that whatever you did cured all my issues; tuijam has been solid as a rock all this time. Well...there is one error nagging me, actually...

[code]

That likes to pop itself up between the search field and the queue probably every other time I fire it up, but I don't think that's part of anything you've built. [Thi

[2019-06-05 23:02] #29 closed

[2019-06-15 13:48] undergroundquizscene opened #38 "Tuijam crashes with address boundary error"
I’ve installed tuijam on a raspberry pi, and I’m getting an error when I run it. The error seems to come from `urwid` somehow, but tuijam first fails to restore the queue and recently played, and I’m not sure why that is.

[code]

[2019-06-15 22:42] cfangmeier commented on #38
Hi @undergroundquizscene. Can you supply the log file from when the app fails to load properly? It should be

`$HOME/.config/tuijam/log.txt`

Also, it may be helpful to know a bit more about your system. What OS are you running and what terminal application?

[2019-06-17 10:56] undergroundquizscene commented on #38
Sorry, I should have provided more info – I wasn’t sure what would be helpful.

The OS is Raspbian 9 (stretch).
The shell is fish, but I’m connecting over ssh from a macbook (using Terminal).

The log file is below. Am I missing some dependencies?

[code]

[2019-06-17 18:29] cfangmeier commented on #38
I don't see anything in the logs that indicates a missing dependency. The "failed to load queue/history" is expected since, presumably, you haven't been able to run the app to ever create the queue/history files. Also, the business with the `ModuleNotFoundError` in the `googleapiclient` is normal.

The warnings about the signal assertions failing is worrying, but I'm not certain how to address it.

[2019-06-23 11:42] undergroundquizscene commented on #38
Sorry for the delay getting back to you. Running under bash produces what seems to be the same error:

[code]

I tried about 10 of the urwid examples and they mostly worked correctly. In the `palette_test.py` example, selecting 24-bit colour crashed the program with a `KeyError`, but I don’t think that’s related.

[2019-08-06 16:16] cfangmeier commented on #38
Hi @undergroundquizscene . I'll see if I can get my hands on a raspberry pi to see if I can reproduce this error, but in the meantime, you could try to disable the SIGINT interrupt handling here:

https://github.com/cfangmeier/tuijam/blob/master/tuijam/app.py#L684

You won't be able to exit tuijam (cleanly) with Ctrl-C, but it may fix your problem.

[2019-08-07 11:48] undergroundquizscene commented on #38
No rush, thanks for looking in to it.

I tried disabling the interrupt handling as you suggested, and as far as I can see I'm getting the same error, unfortunately.

[2019-08-16 16:03] cfangmeier opened #39 "Stabilize credential fetching"
Currently, if the attempt to fetch credentials fails (normally because the server is down), tuijam crashes. These credentials are not critical for tuijam to function, they just enable certain features. Therefore, falling back to a smaller feature set (ie no youtube, lastfm) when credentials cannot be found would be preferable.

[2019-08-19 10:26] longtomjr commented on #25
Just a note - to build on windows you will need to install the C++ build tools for pycairo. Dont have a successfull build yet - but will keep you updated

[2019-08-19 13:28] longtomjr commented on #25
I decided to not try going down the mingw route, and to see what it will take to write a wrapper for the windows media playback api in python

[2019-08-19 13:37] longtomjr commented on #25
So from some quick poking around. The ideal would be to build a generator on top of NodeRT's templates to generate Python bindings instead of C# bindings.

The other option is to generate the JS/TS code and see if it is easier to convert it by hand and then maintain it.

[2019-08-19 14:53] longtomjr commented on #25
Ok, so turning off the media integration - it fails because the loop defined for the uirwid loop is not there.

To make this work in windows, we first have to get urwid working. There is several topics related to it here:

https://github.com/urwid/urwid/issues/240

[2019-08-19 15:29] cfangmeier commented on #25
Hi @longtomjr, Thanks for looking into this. Is there any way to leverage the linux subsystem for windows 10 to get around any of these issues?

[2019-08-19 16:29] longtomjr commented on #25
Ok - so urwid is built heavily using events, sockets and file descriptors. It will take some work to get it working smoothly with windows without implementing a POSIX layer.

[2019-08-19 16:33] longtomjr commented on #25
@cfangmeier I think the WSL should just work with this out of the box - have not tried though. It would make sense to use WSL if you want to - but I would like to see if there is a way to build this for windows and to work in powershell.

I have to use windows at work - and I have a rabid ~~anti~~virus making even things like git slow, so having the WSL running when there is a ~~anti~~virus that m

[2019-08-19 18:23] longtomjr commented on #25
I have the feeling that it might be easier and quicker to just rewrite the ui layer in something that is cross platform. Is there any specific reasons urwid was chosen? (Also, is there a irc [or similar] channel it might be easier to discuss this on?)

[2019-08-19 19:00] cfangmeier commented on #25
urwid was chosen because it's a nice wrapper around doing lower level curses programming, and I initially had no plans for making this work on anything other than linux. Do you know of a cross-platform alternative?

I'm not really an IRC user, but am willing to give it a go.

(also, I just noticed that the old style login has broken and I need to update to the new oauth based one, but that's anoth

[2019-08-19 19:03] cfangmeier opened #40 "Update to Oauth Login scheme for gmusicapi"
The username/password login scheme of gmusicapi has been depreciated in favor of a new oauth based scheme. tuijam needs to update to use this new scheme.

[2019-08-19 19:11] longtomjr commented on #25
hehe - yep, saw that too. I cannot vouch for any alternatives (have not used them) but found the folowing:

https://npyscreen.readthedocs.io/introduction.html
https://github.com/pfalcon/picotui
https://github.com/prompt-toolkit/python-prompt-toolkit
https://github.com/jquast/blessed
and python's curses library.

Don't know the cross platform support of any of the above, but they all seem to be mai

[2019-08-19 19:16] longtomjr commented on #25
I made a channel temp channel on freenode `#tuijam`.

[2019-08-19 20:12] longtomjr commented on #25
@cfangmeier If we use the `curses_display` Screen without an event loop, we might have windows support. Got it working using the `curses_display`. Color might need reconfig - but it might be a useful fallback for win users.

[2019-08-19 20:16] longtomjr commented on #25
I have to bounce now - gotta sleep, but will tinker a bit more tomorrow. Also, should get my environment set up, new install so only raw vim and pyenv so far. Need to get everything configured and my dotifiles in place before I do more dev work.

[2019-08-19 20:31] cfangmeier commented on #40
393ec82336ac27fff5e411c37789b74450886306 fixes this. Actually, rendered quite a bit of code redundant/obselete so I'd call this a win.

[2019-08-19 20:31] #40 closed

[2019-08-20 08:12] longtomjr commented on #25
Ok, got it working on windows - had to tweak urwid a bit, the graphics is not correct, but everything looks workable if I use curses.

Music plays, search works, music stops etc.

[2019-08-20 14:00] cfangmeier commented on #25
that's great! looking forward to a PR.

[2019-08-23 08:24] longtomjr commented on #25
Got busy at work - will try to get a WIP PR in this weekend. There is still some testing and other work that needs to be done. Cannot get the performance ready and there is some other issues that I will investigate once I get a bit more time. Will to to get the code visible though, so that people can start discussing it.

[2019-08-29 08:10] longtomjr commented on #25
Still here, and still working on it when I have time. Trying to make it work without having to change the source of urwid if posible. Meanwhile - here is a link to a rice including tuijam https://forum.manjaro.org/t/august-aberrations-2019-screenshots/96987/156?u=longtomjr

[2019-09-04 15:09] t1meshift opened #42 "Last.fm scrobbling is broken"
I guess this is related with OAuth login. Also, I should notice that a non-encrypted token could easily be stolen. Of course, that's way better than a password leak, but that's still an issue.

Maybe we need to find a way to extract a secret key from config. I don't think that every single user would use their own script to decrypt a config :)

[2019-09-05 19:35] cfangmeier commented on #42
LastFM scrobbling is still working for me. Can you check that you've ran

[code]

and have `lastfm_sk` in your config file?

[2019-09-07 13:14] t1meshift commented on #42
I have `lastfm_sk` in my config file, but the thing is I have it encrypted since PR #32 :) It has been decrypting every time I enter my config password, but now the player does not prompt password (https://github.com/cfangmeier/tuijam/commit/393ec82336ac27fff5e411c37789b74450886306#diff-9ba3d0b631977fd8339d9e7909c66211L130-L137).

In my opinion, we need to make config transition from old versions

[2019-09-09 18:10] cfangmeier commented on #42
ok, I understand the issues. I have two thoughts:

  1. I don't see having the LastFM secret key in plain text in the config file as a big issue. As you said, when we had username/password combos, a leak of this could give an attacker access to a gmail/hangouts/play store/etc which is obviously terrible. In this case, the attacker would have access to... Scrobbling? Maybe I'm being naive, but I'm

[2019-09-09 18:10] #42 closed

[2019-09-16 22:54] #39 closed

[2019-09-16 22:59] cfangmeier commented on #25
Hi @longtomjr, have you made any progress on this? No hurry, just looking forward to having this implemented.

[2019-09-24 17:04] kiikoh opened #46 "Add a way to view liked songs and playlists"
I don't think this is currently a feature...

[2019-09-24 17:41] cfangmeier commented on #46
Hi @kiikoh, You can do this by entering in an empty search query. Your liked songs will be listed as a playlist at the bottom called "Liked".

[2019-09-25 13:56] kiikoh commented on #46
Ok, Thanks, how can I search for radio stations? For example, Today's Dance/EDM Hits.

[2019-09-25 13:59] #46 closed

[2019-09-26 14:55] cfangmeier commented on #46
This is not currently supported in tuijam. However, I just had a look through the gmusicapi documentation and it should be possible. I'll make a new issue for this feature.

[2019-09-26 14:58] cfangmeier opened #47 "Add browsable genre stations"
gmusicapi supports this through [get_genres](https://unofficial-google-music-api.readthedocs.io/en/latest/reference/mobileclient.html#gmusicapi.clients.Mobileclient.get_genres).

Genres come with a tree-like structure with genres and subgenres. The top level genres should appear in the listing when a user enters an empty query. One could then expand into them to view subgenres. Would work similarl

[2019-10-06 21:55] kiikoh opened #48 "Use terminal colors instead of hard coded ones."
I want to use this with pywal to complete my rice and this is the last thing I need.

[2019-10-08 02:16] cfangmeier commented on #48
0e11f9845b256a3613d935a9e2a9325f4cf66d48 addresses this. You now just add `use_terminal_colors: true` to your tuijam config file. Feel free to reopen if you have any issues with this (and a look at your rice would be cool!).

[2019-10-08 02:16] #48 closed

[2019-10-08 23:56] kiikoh commented on #48
Thanks, but now it doesn't honor transparency like it used to, will post pics after.

[2019-10-09 12:44] kiikoh opened #49 "Use terminal colors does not match work with opacity of terminal."

[2019-10-09 20:43] kiikoh commented on #49
Thanks. As promised....
![2019-10-09-164254_3000x2000_scrot](https://user-images.githubusercontent.com/20839289/66518767-f6130d00-eab3-11e9-932e-6d1b85870a54.png)
![2019-10-09-164306_3000x2000_scrot](https://user-images.githubusercontent.com/20839289/66518768-f6130d00-eab3-11e9-93ee-0ad5a7fe7093.png)
![2019-10-09-164330_3000x2000_scrot](https://user-images.githubusercontent.com/20839289/66518769-f

[2019-10-09 20:45] kiikoh commented on #49
You are very quick at making these changes. Thanks for that.

[2019-10-09 20:54] cfangmeier commented on #49
@kiikoh, very cool. Thanks for sharing!

[2019-10-24 00:57] rosshadden opened #50 "Required field '<obj>.entries[320].track.estimatedSize' is missing"
I'm guessing the gmusic API changed because this used to work for me, so sorry in advance.

The error seems to be:

[code]

When I launch tuijam and search for an artist, it crashes with this in stdout:

[code]

Here is the log file output, which is much more useful:

[code]

[2019-10-26 01:10] rosshadden commented on #50
Yes it's when I type an artist into the search box and press enter. And it seems to be any artist.

[2019-10-28 15:30] cfangmeier commented on #50
I haven't been able to reproduce this error on my system. Can you share the output of

[code]

so I can compare which versions of packages you have?

What OS are you using, and how did you install tuijam?

[2019-11-24 09:34] t1meshift opened #51 "i18n support"
Currently TUIJam supports only English locale. Google Play Music API can show different names with different locales set on auth (English and Russian artist names are the example). I could implement external locales support, if the idea sounds good.

[2019-11-26 18:40] cfangmeier commented on #51
Hi @t1meshift, this sounds like a nice feature. On a similar note, there is also some text in the UI that could be localized. In the past, I've used babel for this, but am open to other options.

[2019-12-06 00:07] von opened #53 "Mac Catalina 10.15.1 installation extra steps and machine-id missing?"
Installing on MacOS Catalina (10.15.1) had some extra steps:

Then I'm running into the following failure after doing OAuth:

[2019-12-06 17:56] cfangmeier commented on #53
Hi @von, Thanks for reporting this. TUIJam uses dbus to implement some of the MPRIS spec for external control via command-line clients or UI integration.  This apparently requires a `machine-id` file to be present at either `/etc/machine-id` or `/usr/local/var/lib/dbus/machine-id`. According to [here](https://www.freedesktop.org/software/systemd/man/machine-id.html), systemd is responsible for cre

[2019-12-06 18:00] cfangmeier commented on #53
Ok, try installing 0.6.3 and see if you still encounter the issue.

[2019-12-30 20:49] cfangmeier commented on #53
@von, did the update fix your issue? Unless I hear otherwise I'll assume it did and close the issue. If it didn't, feel free to re-open and I can look more closely.

[2019-12-30 20:49] #53 closed

[2019-12-30 21:53] von commented on #53
@cfangmeier Yes, it works now. Sorry for the slow response.

[2020-01-06 23:03] #51 closed

[2020-01-19 00:52] ClydeDroid opened #55 "Can't control with bluetooth AVRCP controls via mpris-proxy"
Hello, thanks for writing this awesome TUI player, I use it everyday while I work and am super appreciative of your work!

Just wanted to log an issue I came across while playing with my new bluetooth headphones. According to the [Arch wiki](https://wiki.archlinux.org/index.php/Bluetooth_headset#Media_controls), bluetooth device AVRCP controls can be forwarded to players via MPRIS using the `mpris

[2020-01-21 21:55] cfangmeier commented on #55
Hi @ClydeDroid! Thanks for reporting this and for the already quite detailed investigation.

Looking at the commit you linked, it appears that TUIJam may just be missing the `org.bluez.Media1` endpoint that is described by:

[code]
I'll have some time this evening to dig into this a bit more. Hopefully I can get something for you to test over the next couple days.

[2020-01-22 05:04] ClydeDroid commented on #55
Ahh, excellent! Glad I was able to help, and I'm happy to help test out as well. Thanks for looking into it!

[2020-01-22 20:18] cfangmeier commented on #55
I was able to play around with this with a set of bluetooth headphones I have and made a few observations.

First, with no modifications from the latest release of TUIJam, mpris-proxy doesn't complain about being able to register the player.

[code]

My headset has a play/pause button and two volume control buttons. The play/pause button seems to do nothing and while the value control buttons audi

[2020-01-22 21:21] ClydeDroid commented on #55
Okay, so this is weird. I installed `tuijam-git` from AUR instead of `tuijam` to pick up the latest changes, rebooted, even confirmed by looking at the installed `mpris.py` file, but there doesn't seem to be any change, still getting the same output from mpris-proxy:
[code]
And the output of `busctl monitor mpris-proxy` is the same as before as well...

Really bizarre, as it seems to have made a d

[2020-01-22 22:13] cfangmeier commented on #55
Given that even the previous version behaved differently on our systems, I'm not too surprised. The "Operation" in "Operation not supported" may be some capability that your bluetooth device requires that mine doesn't. Maybe it would help to know what what model of bluetooth device you are using. I'm testing with a [Tautronics Soundelite 72](https://www.amazon.com/Headphones-TaoTronics-Sweatproof-

[2020-01-22 22:21] ClydeDroid commented on #55
Ahhh, I see. I have a pair of [Sony WH-CH700N](https://www.sony.com/electronics/headband-headphones/wh-ch700n) wireless headphones, as well as an [Insignia NS-HSB318](https://www.insigniaproducts.com/pdp/NS-HSB318/5809303) soundbar, which both exhibit the same behavior. I just tried VLC, with no luck:
[code]

[2020-01-22 22:27] cfangmeier commented on #55
Interesting. Then I guess this isn't a TUIJam-specific problem, but it's interesting that you see the issue across different hardware as well. My best guess is that there is some configuration on your system that isn't quite right... What desktop env are you using? I'm running Gnome which *maybe* installs something that is critical for this to work.

[2020-01-22 22:29] ClydeDroid commented on #55
Yeah, that's possible. I'm just using i3, no desktop env, so I'm probably missing a package. I'll do some digging to see if I can find something

[2020-01-22 23:20] ClydeDroid commented on #55
Found a post on the Arch forums with a similar issue: https://bbs.archlinux.org/viewtopic.php?pid=1884292

Anyways, definitely seems like it's not a tuijam issue. Thanks anyways for helping me dig @cfangmeier!!

[2020-01-22 23:20] #55 closed

[2020-02-13 17:31] trsdln opened #56 "Error while installing: No such directory tuijam/lang"
While installing using command `pip install --user --upgrade tuijam` I'm getting next error:

[code]

Archlinux/Python 3.8.1

[2020-02-14 18:27] cfangmeier commented on #56
Hi @trsdln . Can you try doing a `pip uninstall tuijam` and then try reinstalling? The missing `tuijam/lang` directory hints to me that this might be an issue due to upgrading from a pre-localisation version to the current one.

Also, since you are on Arch, I encourage you to install using the AUR package so you get automatic updates.

[2020-02-15 10:02] trsdln commented on #56
@cfangmeier yeah, I already tried to reinstall via `pip` and getting same error. Also, I was using AUR package in the past, but it broke after one of updates, so I switched to `pip` package. However, installation of AUR package went successfully, so I will stick with that one. Problem solved.

By the way,  `tuijam` is great program. Thank you!

[2020-03-17 08:29] nathanshelly commented on #56
@cfangmeier 👋 new user to `tuijam`, excited to try it out but also running into this issue when I try to install via `pip install --user tuijam` on macOS Catalina.

I've run the extra dependency steps mentioned in #53, here's the erroring output on the minimal commands to repro on my machine:

[code]

Running `pip uninstall tuijam` gives the following output - `WARNING: Skipping tuijam as it is no

[2020-03-17 18:47] cfangmeier commented on #56
Hi @nathanshelly . Thanks for reporting this. My best guess is that there is some issue with how the localization files get installed on OSX, hence the missing directory. Localization was implemented by @t1meshift. maybe he has some ideas for how to fix this problem?

[2020-03-18 02:34] t1meshift commented on #56
How strange. I'm not sure if the package in pip contains `lang` folder.

I'll take a look on it.

[2020-03-30 05:36] nathanshelly commented on #56
So I tried to install from source and I ran into a different problem (happy to open a separate issue if you'd prefer to keep them distinct). Any chance either of you know how to fix it?

[code]

I tried installing `mpv` as [this issue](https://github.com/EneApp/Ene/issues/6) suggested might help but it didn't seem to change anything.

[2020-03-30 18:46] cfangmeier commented on #56
Hi @nathanshelly. Can you find out where `libmpv.dylib` is currently installed in your system? The error makes it seem like it's installed in some unorthodox place. For reference, [this](https://docs.python.org/3/library/ctypes.html#finding-shared-libraries) shows a few places where it *should* be looking.

[2020-03-31 07:20] nathanshelly commented on #56
Hi @cfangmeier thanks for the help! Found `libmpv.dylib` in Homebrew's under `Celler` directory, had to manually symlink it to `/usr/local/lib/` (which weirdly I didn't have to do when I tried building from source on a separate laptop):

[code]

Successfully launched and authenticated. Super excited to be able to use GPM from my terminal, thanks for making this!

[2020-03-31 11:03] trsdln opened #57 "distribution was not found and is required by google-api-python-client"
After latest system upgrade (Archlinux/AUR package) I'm getting this error:

[code]
I tried to reinstall package, but no luck. Also, installing via pip doesn't help because of https://github.com/cfangmeier/tuijam/issues/56

[2020-04-01 06:39] annata83 opened #58 "Can't Install"
Hi There; I get errors from AUR ( there are 2 packages in AUR Both with same results) and pip;
Here is [AUR](https://www.pastebin.zone/PTZntgEs) Log output
Here is [PIP](https://pastebin.zone/RE6utuJQ) Log Output

[2020-04-04 19:37] trsdln commented on #57
problem got fixed by itself with next system upgrade :tada:

[2020-04-04 19:37] #57 closed

[2020-04-04 21:47] #56 closed

[2020-04-04 21:52] cfangmeier commented on #58
Hi @annata83 . Normally I've seen this happen when I've installed a python package globally through pip. ie:

[code]

Then, when you try to install the arch package `python-somepackage` there are file conflicts. The solution is to

[code]

for each package that has conflicts. Eventually, it should install properly.

[2020-04-22 14:29] grimm26 opened #59 "error: [Errno 2] No such file or directory: 'tuijam/lang'"
Running a pip install on Ubuntu 19.10
09:26:59 ❯ python3 --version
Python 3.7.5
09:28:45 ❯ pip3 --version
pip 18.1 from /usr/lib/python3/dist-packages/pip (python 3.7)

[code]

[2020-04-22 15:00] grimm26 commented on #59
I found that if I install from source it works fine...

[2020-04-22 15:02] grimm26 opened #60 "valid MAC coiuld not be determined"
I got my google play music auth code but then tuijam fails with this error:

[code]

I'm running python 3.7.5

[2020-04-28 17:31] silentjay opened #61 "pkg_resources.DistributionNotFound: The 'urwid>=2.0.1' distribution was not found and is required by tuijam"
Installed from source on ubuntu 20.04, no install errors.

`>tuijam`
`pkg_resources.DistributionNotFound: The 'urwid>=2.0.1' distribution was not found and is required by tuijam1`
`>python3 -c "import urwid; print(urwid.__version__)"
2.1.0`

[2020-04-28 17:33] #61 closed

[2020-04-28 18:27] silentjay commented on #60
I finally got tuijam installed correctly and have run into this issue as well on ubuntu 20.04. Looks like an issue with gmusicapi.

[2020-05-01 18:47] annata83 commented on #58
Hi @cfangmeier ; I did a full system reinstall; no pip yet in my system. Still getting:
[code]

[2020-05-02 20:57] cfangmeier commented on #58
What distro are you running? I'm surprised to see Python 2.7 being used here still. TUIJam requires Python >=3.7.

[2020-05-03 02:27] annata83 commented on #58
Arch Linuix over here.
I run :
- which pip
`pip not found`
- which python-pip
`python-pip not found`
- which python
`/usr/bin/python`
`Python 3.8.2`
---
I have no idea; I have see in some post about creating python environments or something like that.. Do you think that may Help?
To be honest I though pip came with python like npm comes with Node;

[2020-05-03 02:55] cfangmeier commented on #58
Hmm. I had thought that pip had been included with python for a few versions now. I just checked on my Arch system and I do have the `python-pip` package installed; probably brought in as a dependency at some point. In any case, you will likely need the `python-pip` package to install tuijam.

This shouldn't be necessary.  If you install the AUR package, TUIJam will be installed at the system leve

[2020-05-05 09:59] t1meshift commented on #60
@grimm26 @silentjay Could you install the player from source? I have a suspicion that we should bump `gmusicapi` dependency.

So, if you could, please change the line `gmusicapi>=12.0.0` to `gmusicapi>=13.0.0` and install TUIJam in venv/pipenv (you may just run `setup.py`, but I wouldn't recommend it as easy_install contaminates local `site-packages`)

[2020-05-05 11:42] silentjay commented on #60
@t1meshift done, still getting the same error with gmusicapi 13.0.0 installed. Looks like an old issue which isn't going to be fixed https://github.com/simon-weber/gmusicapi/issues/655. I assume me and @grimm26 are using NICs which aren't playing ball with gmusicapi.

Any chance tuijam could have an option to manually pass the mac address or android_id to gmusicapi? https://unofficial-google-music

[2020-05-05 22:01] annata83 commented on #58
this is the procces I went thru to install:
![pic-full-200505-1858-42](https://user-images.githubusercontent.com/18301363/81120188-90301c00-8f02-11ea-8a35-8e131886a007.png)
As I see it the package Build ask for it right?

[2020-05-06 01:54] cfangmeier commented on #58
Thanks for the info. It looks like there are a couple things happening here.

  - First, I think the previous error is due to a mismatch between `libffi` and `PyGObject`. On my Arch install, it works with `libffi==3.3-3` and `PyGObject==3.36.0`. Can you check what versions you have when the error shows up?

  - Next, As best I can tell, Python 2 is being brought in as a dependency of a dependency

[2020-05-06 02:04] cfangmeier commented on #60
It should be pretty straight forward to support an optional MAC from the config file. In earlier versions, `tuijam` would query gmusicapi for an android id and use that, but it was simpler to just use the MAC address under the assumption that it would always work. Obviously, this is not the case. A more robust solution may look like:

  1. If supplied, try to login using a MAC specified in the con

[2020-05-06 23:42] annata83 commented on #58
@cfangmeier ; I check and libffi is not on my system and neither is PyGObject;
should I try to add libffi and try again? Also should libffi be added as dependency to?

[2020-05-07 04:20] annata83 commented on #58
I did Install libfii and try Again:

[code]

[2020-05-10 14:34] rkratky commented on #59
Same problem.
[code]

[2020-05-10 15:05] rkratky opened #62 "Add function to display current keyboard shortcuts"
It would be nice to have the ability to quickly view current keyboard-shortcut config. Something like `?` in mutt, for example.

[2020-05-19 11:32] longtomjr commented on #25
@cfangmeier Hey - sorry, will not be able to tackle this since I have not been on a windows machine for a while. The issue is the curses display backend used. Sorry

[2020-05-19 20:43] cfangmeier commented on #25
Hi @longtomjr . No worries. Thanks for the efforts you've put into investigating this feature. Hopefully someone else (possibly myself) can pick up the torch.

[2020-05-20 08:10] longtomjr commented on #25
If you have any questions, feel free to ask. I had to go into urwid's internals and use a different library to do the rendering. I think the biggest issue were getting urwid to play along with windows.

[2020-05-20 15:09] cfangmeier commented on #25
Sure, any details you can share would be helpful. For example, how invasive were your changes to urwid, and is it something that we could reasonably monkeypatch in? And what was the different library you tried for the rendering?

[2020-05-20 21:58] silentjay commented on #60
If anyone wants a hacky way to get tuijam running around this issue:
change line 123 in /home/<USER>/.local/lib/python3.8/site-packages/gmusicapi/clients/mobileclient.py
`mac_int = getmac()`
to
`mac_int = <YOUR_MAC_AS_INTEGER>`

yeah nasty, but I wasn't going to let a google play music browser tab steal 500mb of ram anymore.

[2020-05-21 09:35] longtomjr commented on #25
I have had a look, and cannot seem to find the code changes I did. Some of the details are a bit fuzzy. I know that there were several layers of incompatibility. There were some calls in urwid that were not compatible. I remember something about having to switch out the urwid window that were used by tuijam.

I think what I did, and what might be a good approach, might be to run the urwid examples

[2020-06-05 18:18] cfangmeier commented on #62
This would actually be a bit tricky to implement, I think. One way to go about it would be to use an [urwid.Overlay](http://urwid.org/reference/widget.html#overlay). However, this would have to be inserted as a new root in the widget tree with the current `app` as a child and the shortcut display as another child. Haven't fully thought through how much code would need to be touched as a result of

[2020-06-08 13:42] rkratky opened #65 "Add shortcut for clearing the queues and/or selecting multiple songs in the queue"
It would be nice to have the possibility to discard the current queue with a single command (instead of needing to remove individual songs with `Delete`/`x`).

Alternatively, the ability to select multiple songs in the queue (which then be deleted with `Delete`/`x`).

[2020-06-08 18:57] cfangmeier commented on #65
There actually is a command for clearing the current queue. By default it is `ctrl w`.

[2020-06-09 06:38] rkratky commented on #65
How did I miss that?

Thanks.

[2020-06-09 06:38] #65 closed, assigned to nobody

[2020-08-28 04:26] aarmstrong78 opened #66 "Transition to YouTube Music api?"
Just installed this and it works great!  Just what I've been looking for.

Do you have any plans to switch across to using an api for YouTube music as Google Play Music shuts down?  Please?!

[2020-08-28 22:04] cfangmeier commented on #66
Hi @aarmstrong78 . Glad you've found the app useful.

As for transitioning to Youtube music, it is certainly on my radar. There is already [an effort](https://github.com/sigma67/ytmusicapi) to create a Python interface for Youtube music. I think it will end up being sufficiently different that a total rewrite of the app will be in order. In particular, I'd like to replace `urwid` with the [Python

[2021-07-20 20:56] unkwn1code opened #67 "Not included in AUR repository"
Unfortunately neither the `tuijam` or `tuijam-git` are available on the AUR.

Should be removed from installation instructions until it is :(

[2021-07-20 21:06] unkwn1code opened #68 "Pip/Pipx Installation Failure"
Here's the output.

[code]

I had high hopes for using this and possible contributing... I may fork it. But with the AUR packages non-existent and pip errors I think it's dead

[2022-04-25 18:13] 9s-l-s9 commented on #66
Any updates on this? :)